@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,300;1,600&display=swap");
:root {
  --color-white: #fff;
  --color-dark: #111;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins',sans-serif;
  font-weight: 300;
  height: 100vh;
  background-image: url('/static/img/slide-deck.png');
  background-size: cover;
  color: var(--color-white);


  display: flex
  -webkit-display: box
  -moz-display: box
  -ms-display: flexbox
  -webkit-display: flex
  flex-wrap: wrap
  justify-content: center
  align-content: center
  padding: 8%
  margin: 0

/*  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: center;*/

}

.card {
  position: relative;
  width: 18rem;
  padding: 2rem 1rem;
  padding-top: 4rem;
  background: rgba( 255, 255, 255, 0.14 );
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
}

.card__user-pic {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid var(--color-white);
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.card__user-pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.heading {
  margin-bottom: 1.5rem;
  text-align: center;
}

.heading--sup {
  display: block;
  letter-spacing: 1px;
  font-size: 1.6rem;
}

.heading--sub {
  display: block;
  font-size: 1rem;
  font-weight: normal;
}

.btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-white);
  padding: 8px 24px;
  font-size: .9rem;
  border: 1px solid var(--color-white);
  border-radius: 10rem;
}

.info {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
}

.info p {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.info span {
  display: block;
}

.info p:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.6);
}

.info p span:last-child {
  font-weight: 600;
}

.share-buttons .fab,.share-buttons .fas{
  position: center;

  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 20%;
  color: white;

  background: rgba( 255, 255, 255, 0.50 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 11.5px );
-webkit-backdrop-filter: blur( 11.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.share-buttons .fab:hover,.share-buttons .fas:hover{
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: none;
/*    color:white;
*/}
.share-buttons .fa-facebook-f {
  background: #3B5998;
}
.share-buttons .fa-facebook-messenger {
  background: #0084ff;
}
.share-buttons .fa-twitter {
  background: #55ACEE;
}
.share-buttons .fa-whatsapp {
  background: rgba( 0, 255, 28, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.share-buttons .fa-google {
  background: #dd4b39;
}
.share-buttons .fa-linkedin-in {
  background: #007bb5;
}
.share-buttons .fa-envelope {
  background: #444444;
}