.share-buttons .fab,.share-buttons .fas{
  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 20%;
  color: white;
}
.share-buttons .fab:hover,.share-buttons .fas:hover{
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: none;
    color:white;
}
.share-buttons .fa-facebook-f {
  background: #3B5998;
}
.share-buttons .fa-facebook-messenger {
  background: #0084ff;
}
.share-buttons .fa-twitter {
  background: #55ACEE;
}
.share-buttons .fa-whatsapp {
  background: #25D366;
}
.share-buttons .fa-google {
  background: #dd4b39;
}
.share-buttons .fa-linkedin-in {
  background: #007bb5;
}
.share-buttons .fa-envelope {
  background: #444444;
}
.card{
        height: 550px;
        width: 480px;
        background-color: rgba(255,255,255,0.06);
        backdrop-filter: blur(20px);
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: 8px;
        box-shadow: 20px 20px 22px rgba(0,0,0,0.2);
        font-family: 'Poppins',sans-serif;

        background: rgba( 0, 0, 0, 0.55 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4.5px );
        -webkit-backdrop-filter: blur( 4.5px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.card-img{
      height: 220px;
      width: 220px;
      background-color: rgba(255,255,255,0.06);
      backdrop-filter: blur(20px);
      position: absolute;
      margin: 30px auto 20px auto;
      left: 0;
      right: 0;
      border-radius: 50%;
}
.card-img img{
      height: 86%;
      border-radius: 50%;
      margin-left: 7%;
      margin-top: 7%;
}
.desc{
      width: 100%;
      text-align: center;
      position: absolute;
      top: 285px;
}
.primary-text{
      color: #d5d5d5;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0.7px;
      margin: 5px 0;
}
.secondary-text{
      color: #c0c0c0;
      font-weight: 400;
      font-size: 14px;
      letter-spacing: 1px;
      margin: 5px 0;
}
.details{
      display: grid;
      width: 100%;
      height: 70px;
      grid-template-columns: auto auto;
      position: absolute;
      bottom: 0;
      background-color: rgba(255,255,255,0.06);
      backdrop-filter: blur(20px);
      border-radius: 0 0 8px 8px;
      padding: 5px 0;
}
.details>div{
      text-align: center;
}
.details>div:first-child{
      border-right: 2px solid rgba(255,255,255,0.08);
}