<!-- {% extends "base.html" %}

{% block content %}

<html>

    <link rel="stylesheet" media="all" href="https://cdnjs.cloudflare.com/ajax/libs/authy-form-helpers/2.3/form.authy.min.css" data-turbolinks-track="reload" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/authy-form-helpers/2.3/form.authy.min.js" data-turbolinks-track="reload"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">

  <head>

    <title>Welcome</title>

  </head>

  <body>
    <div class="card">
      <h1>NLine is Nvite only</h1>

    <div>
        <label>Find a referral link to get NLine</label>
    </div>

    </div>
  </body>

</html>

{% endblock %} -->

<!-- {% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="row justify-content-center pt-2">
    {% if referring_uuid %}
    <form action="{{ url_for('main.index') + '?user=' + referring_uuid }}" method="post" class="form-inline">
    {% else %}
    <form action="{{ url_for('main.index') }}" method="post" class="form-inline">
    {% endif %}
      {{ form.hidden_tag() }}
      <div class="form-group mx-sm-3 mb-2">
        {{ form.email(class_='input',
                      placeholder='Your best email…',
                      pattern='(^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$)',
                      required='required',
                      oninvalid="this.setCustomValidity('Please enter a valid email address.')",
                      onchange="try{setCustomValidity('')}catch(e){}") }}
      </div>
      {{ form.submit(class_='btn btn-primary mb-2') }}
    </form>
  </div>
</div>
{% endblock %} -->

{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <h1>NLine is Nvite only</h1>
        <p>Find a referral link to get Nline</p>
        <p><a href="{{ url_for('main.index') }}">Home</a></p>
    </div>
</div> 
    
{% endblock %}