{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href='/static/css/style.css' />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous" type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> NLine Waitlist</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">



</head>

<body>


<div class="body_stuff">
<div class="card">


  <div class="card__logo-pic">
    <span class="invisitext"> . </span>
      <img src="/static/img/nline_beta.png">

  </div>

    <span class="invisitext"> . </span>
    <span class="invisitext"> . </span>

  <h1 class="heading">
      <span class="heading--sup">NLine is Nvite only</span>
      <span class="heading--sub">Find a referral link to get NLine</span>
  </h1>

  <h1 class="heading">
      <span class="heading--sup">   </span>
      <span class="heading--sub">Already NLine? <a href="/login">Login</a></span>
  </h1>

</div>

</div>

</body>

{% endblock %}