{% extends "base.html" %}

{% block content %}

{% if config['DEBUG'] %}
  {% set ROOT = 'http://localhost:5000' %}
{% else %}
  {% set ROOT = config['PROJECT_URL'] %}
{% endif %}


<link rel="stylesheet" href='/static/css/style.css' />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous" type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NLine</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
<div class="body_stuff">


    <div class="card">


    <div class="card__user-pic">
        <svg data-jdenticon-value="{{ r_code }}">
    <img src="/static/img/profile-picture.png" alt="user pic">
        </svg>
    </div>

    <div class="card__logo-pic-line">
      <img src="/static/img/nline_beta.png">
    </div>


        <h1 class="heading">

            <span class="invisitext"> . </span>
            <span class="invisitext"> . </span>
            <span class="invisitext"> . </span>

            <span class="heading--sup">@{{ username }}</span>
            <span class="heading--sub">You're NLine</span>
        </h1>


<h2 class="heading">
        <button class="btn" onclick="copyToClipboard()">n-line.xyz/join/{{ r_code }}</button>

            <script>
            function copyToClipboard(text) {
            var inputc = document.body.appendChild(document.createElement("input"));
            inputc.value = ("n-line.xyz/join/{{ r_code }}");
            inputc.focus();
            inputc.select();
            document.execCommand('copy');
            inputc.parentNode.removeChild(inputc);
            alert("Referral Link Copied. Share to move up NLine");
            }
            </script>

</h2>

        <div class="info">

            <p>

                <span>Users ahead of you</span>
                
                <span>#</span>
            </p>

            <p>
                <span>Referrals</span>
                
                <span>{{ score }}</span>
                
            </p>

        </div>

        <div class="share-buttons row mt-3 justify-content-center">
    <a class="fas fa-envelope" href="mailto:?subject=Get NLine&body=Quickly!%0A%0AGet NLine.%0A%0APlease join with my link: n-line.xyz/join/{{ r_code }}%26channel=email"></a>

    <a class="fab fa-whatsapp" href="whatsapp://send?text=Get+Nline%3A+{{ url }}%26channel=whatsapp"
      data-share-url="whatsapp://send?text=Get+NLine%3A+n-line.xyz/join/{{ r_code }}%26channel=whatsapp"
      onclick="javascript:window.open(this.getAttribute('data-share-url'), '_blank', 'width=800,height=500');return false;"></a>

    <a class="fab fa-twitter" href="https://twitter.com/intent/tweet?url=n-line.xyz/join/{{ r_code }}%26channel=twitter&text=Get+NLine%3A&amp;source=webclient"
      data-share-url="https://twitter.com/intent/tweet?url={{ url }}%26channel=twitter&text=Get+NLine%3A&amp;source=webclient"
      onclick="javascript:window.open(this.getAttribute('data-share-url'), '_blank', 'width=800,height=500');return false;"></a>
        </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/jdenticon@3.1.0/dist/jdenticon.min.js" async
        integrity="sha384-VngWWnG9GS4jDgsGEUNaoRQtfBGiIKZTiXwm9KpgAeaRn6Y/1tAFiyXqSzqC8Ga/" crossorigin="anonymous">
</script>
</body>

{% endblock %}
