{% extends "base.html" %}

{% block content %}

<html>
  <head>
    <title>Phone Verification</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" media="all" href="https://cdnjs.cloudflare.com/ajax/libs/authy-form-helpers/2.3/form.authy.min.css" data-turbolinks-track="reload" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/authy-form-helpers/2.3/form.authy.min.js" data-turbolinks-track="reload"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">

  </head>

  <body>
<div class="body_stuff">
    <div class="card">

        <div class="card__logo-pic">
            <span class="invisitext"> . </span>
            <img src="/static/img/nline_beta.png" alt="logo pic">
        </div>
        <span class="invisitext"> . </span>
        <span class="invisitext"> . </span>

    <h1 class="heading">Join</h1>

    <form action="/join/{{ ref_code }}" accept-charset="UTF-8" method="post">

<div class="text-center">
<div class="input-group mb-3">
  <div class="input-group-prepend">

    <span class="input-group-text" id="basic-addon1">@</span>
  </div>
  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" id="Username" name="Username">
</div>

<div class="input-group mb-3">
    <select class="btn" name="country_code" id="authy-countries" data-show-as="number"></select>
</div>

</div>



<div class="input-group mb-3">
    <input class="form-control" type="tel" name="phone_number" id="phone_number" placeholder="Phone #"/>
</div>

      <div class="heading">
        <p class="heading--sub">Verification method</p>
        <label for="method_sms">SMS: </label>
        <input type="radio" name="method" id="method_sms" value="sms" checked/>
        <label for="method_call">Call: </label>
        <input type="radio" name="method" id="method_call" value="call" />
      </div>

        <div class="text-center">
      <button class="btn" name="button" type="submit">Verify</button>
        </div>
    </form>
  </div>
</div>
  </body>
</html>

{% endblock %}