{% extends "base.html" %}

{% block content %}

{% if config['DEBUG'] %}
  {% set ROOT = 'http://localhost:5000' %}
{% else %}
  {% set ROOT = config['PROJECT_URL'] %}
{% endif %}


{% set url = ROOT + url_for('main.index') + '?user=' + uuid %}
<head>
   <title>InLine</title>
   <!--Google Font-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
     <!--Stylesheet-->
     <link rel="stylesheet" href="waitlist.css">
</head>
<body>



    <div class="card">
       <div class="card-img">
          <img src="profile-picture.jpg" alt="profile">  
       </div>
       <div class="desc">
          <h6 class="primary-text">User_12321</h6>
          <h6> </h6>
          <h6> </h6>
          <h6 class="secondary-text">You're In Line</h6>
       </div>
       <button class="primary-text">http://localhost:5000/?token=abc123</button>
       <div class="details">
          <div class="rating">
             <h6 class="primary-text">70,000</h6>
             <h6 class="secondary-text">Users ahead of you</h6>
          </div>
          <div class="activity">
             <h6 class="primary-text">0</h6>
             <h6 class="secondary-text">referrals</h6>
          </div>
       </div>
    </div>
    <script src="vanilla-tilt.min.js"></script>
    <script>
      VanillaTilt.init(dcument.querySelectorAll(".card"),{
         max: 25,
         speed: 400,
         glare : true,
         "max-glare": 1

      })
    </script>>
</body>
{% endblock %}
